$for(include-before)$
$include-before$
$endfor$
$if(title)$
<div id="$idprefix$header">
<h1 class="title">$title$</h1>
$for(author)$
<h2 class="author">$author$</h2>
$endfor$
$if(date)$
<h3 class="date">$date$</h3>
$endif$
</div>
$endif$
<div id="collectif">
<p><img src="images/collectif_auteurs.jpg" /></p>
<table>
<thead>
<tr class="header">
<th align="left"><strong>Les auteurs</strong></th>
<th align="left"><strong>web</strong></th>
<th align="left"><strong>twitter</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><strong>Philippe Blayo</strong></td>
<td align="left"><a href="http://www.barreverte.fr/">www.barreverte.fr</a></td>
<td align="left">@pblayo</td>
</tr>
<tr class="even">
<td align="left"><strong>Antoine Contal</strong></td>
<td align="left"> </td>
<td align="left">@antoine_contal</td>
</tr>
<tr class="odd">
<td align="left"><strong>Dominique De Premorel</strong></td>
<td align="left"> </td>
<td align="left">@domidepremorel</td>
</tr>
<tr class="even">
<td align="left"><strong>Pierre Jannez</strong></td>
<td align="left"></td>
<td align="left">@pierrejannez</td>
</tr>
<tr class="odd">
<td align="left"><strong>Christophe Keromen</strong></td>
<td align="left"><a href="http://www.ckti.com/">www.ckti.com</a></td>
<td align="left">@ckeromen</td>
</tr>
<tr class="even">
<td align="left"><strong>Régis Medina</strong></td>
<td align="left"><a href="http://www.regismedina.com/">www.regismedina.com</a></td>
<td align="left">@regis_medina</td>
</tr>
<tr class="odd">
<td align="left"><strong>Sandrine Olivencia</strong></td>
<td align="left"><a href="http://www.leanedge.org/">www.leanedge.org</a></td>
<td align="left">@sandrineolivenc</td>
</tr>
<tr class="even">
<td align="left"><strong>Christophe Ordano</strong></td>
<td align="left"></td>
<td align="left">@chrisordano</td>
</tr>
<tr class="odd">
<td align="left"><strong>Raphaël Pierquin</strong></td>
<td align="left"><a href="http://ut7.fr/">ut7.fr</a></td>
<td align="left">@perafoo</td>
</tr>
<tr class="even">
<td align="left"><strong>Bruno Thomas</strong></td>
<td align="left"><a href="http://www.barreverte.fr/">www.barreverte.fr</a></td>
<td align="left">@bam_thomas</td>
</tr>
</tbody>
</table>
</div>
<div class="row">
$if(toc)$
<div id="$idprefix$TOC" class="span4 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top" data-spy="affix">
          <li class=""><a href="#de-satisfaire-le-client-à-comprendre-son-attente"><i class="icon-chevron-right"></i>De Satisfaire le client à Comprendre son attente</a></li>
          <li class=""><a href="#de-management-visuel-à-visualiser-le-challenge-et-les-problèmes"><i class="icon-chevron-right"></i>De Management visuel à Visualiser le challenge et les problèmes</a></li>
          <li class=""><a href="#de-lamélioration-continue-à-trouver-les-leviers-de-lamélioration"><i class="icon-chevron-right"></i>De L’amélioration continue à Trouver les leviers de l’amélioration</a></li>
        </ul>
</div>
$endif$
<div id="contenu_du_guide" class="span8">
$body$
</div>
</div>
<p><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr"><img src="images/cc_by-nc-nd.png" alt="license CC BY-NC-ND 3.0" /></a></p>
<p>Cette œuvre est mise à disposition selon les termes de la <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Pas de Modification 3.0 non transposé</a>.</p>
$for(include-after)$
$include-after$
$endfor$
